/********************** 共通总容器 *********************/
.wrapper{
    width: 100%;
    height: 100%;
    background-color: #CFE8E9;
}

/********************** 共通 头部 *********************/
.header-box{
    width: 100%;
}
.header-box header{
    width: 100%;
    height: 15.7vw;
    background-color: #FFF;
    color: #555;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 3.6vw;
}
.header-box .top-ban{
    width: 100%;
    height: 15.7vw;
}
.header-box img{
    display: block;
    width: 100%;
}
.header-box i{
    font-size: 8vw;
}

/********************** 共通 表格表单 *********************/
.table-form{
    width: 86vw;
    margin: 0 auto;
    margin-top: 5vw;
    border-collapse: collapse;

    font-size: 4.2vw;
}
.table-form tr td{
    height: 12vw;
}
.table-form input,.table-form select,.table-form textarea{
    background-color: #CFE8E9;
    border: none;
    outline: none;
}
.table-form tr td:first-child{
    color: #777;
    font-weight: 700;
}

/********************** 共通 按钮 *********************/
.btn{
    width: 100%;
    height: 12vw;
    background-color: #70B0BC;
    margin-top: 5vw;
    border-radius: 2vw;
    color: #FFF;
    font-size: 5vw;
    text-align: center;
    line-height: 12vw;
    letter-spacing: 1vw;
    font-weight: 500;
    user-select: none;
}