<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    1.mapper文件中的namespace 与mapper接口的类的路径一致
    2.mapper文件中的sqlId的名字要与mapper接口中的抽象方法的名字一致
    3.mapper文件中的paramType与 mapper接口中的参数类型保持一致
    4.如果是单表查询：
    mapper文件中的resultType与 mapper接口中的返回值类型一致
    如果是多表查询：
    1. 需要需要使用resultMap自己手动映射结果集，将表字段与JavaBean的属性一一做映射
    2.resultMap的id与sql的语句的resultMap保持一致
-->
<mapper namespace="com.neusoft.nepm.mapper.AqiFeedbackMapper">

    <resultMap type="com.neusoft.nepm.po.AqiFeedback" id="aqiFeedbackResultMap">
        <id property="afId" column="af_id" />
        <result property="telId" column="tel_id" />
        <result property="provinceId" column="province_id" />
        <result property="cityId" column="city_id" />
        <result property="address" column="address" />
        <result property="information" column="information" />
        <result property="estimatedGrade" column="estimated_grade" />
        <result property="afDate" column="af_date" />
        <result property="afTime" column="af_time" />
        <result property="gmId" column="gm_id" />
        <result property="assignDate" column="assign_date" />
        <result property="assignTime" column="assign_time" />
        <result property="state" column="state" />
        <result property="remarks" column="remarks" />
        <association property="supervisor" javaType="com.neusoft.nepm.po.Supervisor">
            <id property="telId" column="su_tel_id" />
            <result property="realName" column="su_real_name" />
            <result property="birthday" column="su_birthday" />
            <result property="sex" column="su_sex" />
        </association>
        <association property="gridProvince"
                     javaType="com.neusoft.nepm.po.GridProvince">
            <id property="provinceId" column="gp_province_id" />
            <result property="provinceName" column="gp_province_name" />
            <result property="provinceAbbr" column="gp_province_abbr" />
        </association>
        <association property="gridCity" javaType="com.neusoft.nepm.po.GridCity">
            <id property="cityId" column="gc_city_id" />
            <result property="cityName" column="gc_city_name" />
        </association>
        <association property="aqi" javaType="com.neusoft.nepm.po.Aqi">
            <id property="aqiId" column="aq_aqi_id" />
            <result property="chineseExplain" column="aq_chinese_explain" />
            <result property="color" column="aq_color" />
            <result property="aqiExplain" column="aq_aqi_explain" />
        </association>
    </resultMap>
    <sql id="aqiFeedbackSqlSelect">
        select af.*,
               su.tel_id su_tel_id,
               su.real_name su_real_name,
               su.birthday su_birthday,
               su.sex su_sex,
               gp.province_id gp_province_id,
               gp.province_name gp_province_name,
               gp.province_abbr gp_province_abbr,
               gc.city_id gc_city_id,
               gc.city_name gc_city_name,
               aq.aqi_id aq_aqi_id,
               aq.chinese_explain aq_chinese_explain,
               aq.color aq_color,
               aq.aqi_explain aq_aqi_explain
        from  aqi_feedback af left
                 join supervisor su on af.tel_id=su.tel_id
                 join grid_province gp on af.province_id=gp.province_id
                 join grid_city gc on af.city_id=gc.city_id
                 join aqi aq on af.estimated_grade=aq.aqi_id
    </sql>
    <!--根据手机号查询反馈列表信息-->
    <select id="listAqiFeedbackByTelId" parameterType="String"
            resultMap="aqiFeedbackResultMap">
        <include refid="aqiFeedbackSqlSelect"></include>
        where af.tel_id = #{telId}
        order by af.af_date desc,af.af_time desc
    </select>
</mapper>